:root{
    --dark-color:#112D32;
    --green-color:#254E58;
    --greenL-color:#88BDBC;
    --light-color:#6E6658;
    --section-color:#C5C6C7;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.logo{
    height: 50px;
    width: 150px;
}
.main-btn{
background-color: var(--light-color);
color: var(--green-color);
padding: 0.5rem 1rem;
}
.main-btn:hover{
    background-color: var(--green-color);
    color: var(--light-color);
}
.main-title::after{
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--greenL-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start Navbar*/
.navbar{
    background-color: var(--dark-color);
}
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover{
color: var(--green-color);
background-color: var(--greenL-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color)
}
.navbar .search{
    border-left:1px solid var(--green-color) ;
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
/* End Navbar*/

/* start carousel */
.carousel .carousel-caption{
    color: var(--dark-color);
    background-color: var(--section-color);
}
/* end carousel */

/* Start Landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing */

/*Start Stuff*/
.stuff .button .btn{
    background-color: var(--light-color);
    color: var(--green-color);
    padding: 0.5rem 1rem;
    border-radius: 35px;
    position: relative;
    
}
.stuff .button .btn:hover{
    background-color: var(--green-color);
    color: var(--light-color);
}
/*End Stuff*/

/* Start features*/
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    color: var(--greenL-color);
}
.features .feat h4{
    color: var(--light-color);
}
/* End features*/

/* Start our-work */
.our-work{
    background-color: var(--section-color);
}
.our-work ul .active{
    background-color: var(--green-color);
    color: var(--light-color);
}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
color: var(--light-color);
}
.our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: #2e151b8a;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover:before{
    transform: translateX(0);
}


/* End our-work */
/* Start stuff */
.stuff .description{
    max-width: 500px;
}
/* End stuff */
/* Start Our Team */
.our-team{
    background-color: var(--section-color);
}
.our-team h2{
    color: var(--light-color);
}
.our-team .box h4{
    background-color: var(--green-color);
    color: var(--light-color);
}
/* End Our Team */

/* Start Project */
.project{
    background-color: var(--dark-color);
}
/* End Project */

/* Start subscribe */
.subscribe{
    background-color: var(--light-color);
}
.subscribe .email{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe .email:focus{
    outline: none;
}
.subscribe ::placeholder{
    color: white;
}
.subscribe .btn{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.subscribe .btn:hover{
    background-color: var(--light-color);
    color: var(--dark-color);
    border-color: var(--dark-color);
}
/* End subscribe */

/* Start Footer  */
.footer{
    background-color: var(--dark-color);
}
.footer .copyright > span{
    color: var(--greenL-color);
}
.footer .copyright div span{
    color: var(--light-color);
}
.footer .contact ul svg{
    width: 20px;
    height: 20px;
}
.footer .facebook{
    background-color: #1877f2;
}
.footer .twitter{
    background-color: #1da1f2;
}
.footer .linkedin{
    background-color: #0077b5;
}
.footer .instagram{
    background-color: #d7566b;
}
/* End Footer  */

/* Start Contact */
.Contact_us .container .card{
    background-color: var(--light-color);
}
.Contact_us .container .card .btn{
    background-color: var(--green-color);
    color: var(--light-color);
}
.Contact_us .container .card .btn:hover{
    background-color: var(--light-color);
    color: var(--green-color);
    border-color: var(--green-color);
}
.Contact_us .in-bo{
    border: none;
    border-bottom: 1px solid white;
}
.Contact_us .in-bo:focus{
    outline: none;
}
.Contact_us ::placeholder{
    color: var(--greenL-color);
}
/* End Contact */

/* Start Login */
.container .user{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.user .img{
    width: 50%;
    height: 100%;
    position: relative;
    transition: 0.5s;
}

.user .img img{
    width: 100%;
    height: 100%;
}

.user .form{
    transition: 0.5s;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.user .form h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.user .form input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid grey;
    letter-spacing: 2px;
}

.user .form input[type="submit"]{
    width:100px;
    background-color: var(--green-color);
    color: var(--light-color);
    font-size: 15px;
    cursor: pointer;
}

.user .form input[type="submit"]:hover{
    background-color: var(--light-color);
    color: var(--green-color);
    border-color: var(--green-color);
}

.user .form p{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-color);
    margin-top: 20px;
}

.user .form p a{
    text-decoration: none;
    color: var(--greenL-color);
}
.user .form h2{
    color: var(--greenL-color);
}
.signup{
    pointer-events: none;
}

.active .signup{
    pointer-events: initial;
}


.signup .form{
    left:100%;
}
.signup .img{
    left:-100%;
}

.signin .form, .signin .img{
    left: 0;
}

.active .signup .form{
    left: 0;
}

.active .signup .img{
    left: 0;
}

.active .signin .form{
    left: 100%;
}
.active .signin .img{
    left: -100%;
}
@media (max-width:950px){
    .container{
        width: 500px;
    }
    .user .img{
        display: none;
    }
    .user .form{
        width: 100%;
    }
}
/* End Login */